<div class="home-page-container">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <div class="hero-section">
    <img src="assets/img/portada.jpg" alt="Portada" class="hero-image">
    <div class="hero-overlay">
      <div class="hero-text">
        <h1>Bienvenido a Centro Maibo</h1>
        <p>Brindamos atención en salud mental de manera respetuosa e integral.</p>
        <button  pButton label="Agenda una cita" icon="pi pi-calendar" class="p-button-rounded p-button-info" routerLink="/confirmation-page"></button>


      </div>
    </div>
  </div>

  <div class="content-section">
    <div class="p-grid p-align-center">
  
      <div class="p-col-12 p-md-6">
        <img src="assets/img/imagen13.jpeg" alt="Imagen Misión" class="side-image">
      </div>

      <div class="p-col-12 p-md-6 mission-text">
        <h2>Nuestra Misión</h2>
        <p>
          Facilitar el acceso a la atención psicológica desde una perspectiva crítica y respetuosa,
          abordando el bienestar de manera comunitaria.
        </p>
      </div>
    </div>
  </div>

  <div class="content-section">
    <div class="p-grid p-align-center">
  
      <div class="p-col-12 p-md-6 vision-text">
        <h2>Nuestra Visión</h2>
        <p>
          Ser un equipo comprometido con el bienestar de las personas, promoviendo actividades profesionales de calidad.
        </p>
      </div>

      <div class="p-col-12 p-md-6">
        <img src="assets/img/imagen14.jpg" alt="Imagen Visión" class="side-image">
      </div>
    </div>
  </div>

  <<footer class="footer">
    <div class="footer-content">
      <p>&copy; 2024 Centro Maibo - Todos los derechos reservados</p>
      <p>Dirección: Dr. Manuel Barros Borgoño 110, Providencia, Santiago, Chile</p>
      <p>Teléfono: +56 2 2345 6789 | Correo: contacto&#64;centromaibo.cl</p>
    </div>
  </footer>
  