.navbar-page {
  width: 100%;
  
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &.scrolled {
    background-color: #ffffff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }

  .logo-container {
    .logo {
      width: 190px;
      height: auto;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1); /* Efecto de hover para el logo */
      }
    }
  }

  .navegacion {
    display: flex;
    gap: 20px; /* Espacio entre los enlaces */
  }

  .navegacion__enlace {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #333; /* Color de los enlaces */
    padding: 10px;
    transition: color 0.3s ease;

    &:hover {
      color: #5a7d8e; /* Cambia el color al pasar el cursor */
    }
  }
}
