<div class="tabview-container">
  <p-tabView>
    <p-tabPanel header="Usuarios">
      <app-user></app-user>
    </p-tabPanel>
    <p-tabPanel header="Reservas">
      <app-reservation-box></app-reservation-box>
    </p-tabPanel>
    <p-tabPanel header="Perfil">
      <app-profile></app-profile>
    </p-tabPanel>
    <!-- <p-tabPanel header="Datos Bancarios">
      <app-bank-info></app-bank-info>
    </p-tabPanel> -->
  </p-tabView>
</div>










<!-- <div style="height: 500px;">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div> -->