<div class="p-fluid p-formgrid p-grid justify-content-center reset-password-container">
    <div class="p-field p-col-12 p-md-6 reset-password-box">
      <h2>Activación</h2>
      <p>Por favor, ingresa tu nueva contraseña para confirmar.</p>
  
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        
        <div class="p-field">
          <label for="newPassword">Nueva Contraseña</label>
          <input
            pInputText
            type="password"
            id="newPassword"
            formControlName="newPassword"
            placeholder="Ingresa tu nueva contraseña"
            class="reset-input"
          />
          <small *ngIf="form.get('newPassword')?.invalid && form.get('newPassword')?.touched" class="p-error">
            La contraseña debe tener al menos 6 caracteres.
          </small>
        </div>
  
        
        <div class="p-field">
          <label for="confirmPassword">Confirmar Contraseña</label>
          <input
            pInputText
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            placeholder="Confirma tu nueva contraseña"
            class="reset-input"
          />
          <small *ngIf="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched" class="p-error">
            La confirmación no coincide con la nueva contraseña.
          </small>
        </div>
  
       
        <div class="p-field">
          <button
            pButton
            type="submit"
            label="Confirmar Contraseña"
            [disabled]="form.invalid"
            class="p-button-primary reset-button"
          ></button>
        </div>
      </form>
    </div>
  </div>
  